.max-img {
	width: 100%;
}
.container-space {
	margin-top: 20px;
}
.service-img-size {
	width: 200px;
}
.contact-img-size {
	width: 150px;
}
.title-bottom-space {
	margin-bottom: 45px;
}
.margin-btn {
	margin-top: 5px;
}
.border-right-thin {
	border-right: solid thin #ccc;
}
textarea.form-control {
	height: 150px;
	resize: none;
}